@using RevolutionData.Models.Entities
@model List<ProductType>
@{
	ViewBag.Title = "Главная";
}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" asp-href-include="~/css/HomeStyle/IndexStyleSheet.css" asp-append-version="true"/>
	</head>
	<body>
		<div class="container container-image">
			<div class="title-center">
				<div>
					<div class="main-title">
						<h1>We are revolution</h1>
						<p>Work hard. Dream big.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="center">
				<div id="sections" class="sections-name">
					<h1>Разделы магазина</h1>
					<p>Выберите интересующую категорию товаров</p>
				</div>
				<div class="sections">
					<div class="item container-section-image-one" onclick="location.href='@Url.Action("ProductPage", "Shop", new { id = Model[0].Id })'">
						<div class="item-info">
							<p>Футболки</p>
						</div>
					</div>
					<div class="item container-section-image-two" onclick="location.href='@Url.Action("ProductPage", "Shop", new { id = Model[1].Id })'">
						<div class="item-info">
							<p>Лонгсливы</p>
						</div>
					</div>
					<div class="item container-section-image-three" onclick="location.href='@Url.Action("ProductPage", "Shop", new { id = Model[2].Id })'">
						<div class="item-info">
							<p>Худи</p>
						</div>
					</div>
					<div class="item container-section-image-four" onclick="location.href='@Url.Action("ProductPage", "Shop", new { id = Model[3].Id })'">
						<div class="item-info">
							<p>
								Головные<br />уборы
							</p>
						</div>
					</div>
					<div class="item container-section-image-five" onclick="location.href='@Url.Action("ProductPage", "Shop", new { id = Model[4].Id })'">
						<div class="item-info">
							<p>
								Брюки&<br />шорты
							</p>
						</div>
					</div>
					<div class="item container-section-image-six" onclick="location.href='@Url.Action("ProductPage", "Shop", new { id = Model[5].Id })'">
						<div class="item-info">
							<p>Сумки</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>