@using RevolutionData.Models.Entities
@model List<Product>
@{
	ViewBag.Title = "Футболки";
}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" asp-href-include="~/css/ShopStyle/ProductPageStyleSheet.css" asp-append-version="true"/>
	</head>
	<body>
		<div class="container">
			<div class="center">
				<div class="sections-name">
					<h1>Футболки</h1>
				</div>
				<div class="sections">

				@for (var i = 0; i < Model.Count; i++)
				{
					<div class="item container-image" onclick="location.href='@Url.Action("ProductDetailPage", "Shop", new { id = Model[i].Id })'">
						@*<img class="image" src="https://p-o-k.ru/upload/iblock/202/Salatovaya-detskaya-futbolka-pod-logotip.jpg" alt=""/>*@
						<div class="item-info">
							<h4>@Model[i].Name</h4>
							@if (Model[i].Discount > 0)
							{
								<p>было <s>@Model[i].Price руб.</s> Скидка @Model[i].Discount%</p>
								<p>@((Model[i].Price / 100) * (100 - @Model[i].Discount)) руб.</p>
							}
							else
							{
								<p>@Model[i].Price руб.</p>
							}
						</div>
					</div>
				}

				</div>
			</div>
		</div>
	</body>
</html>
