@using RevolutionData.Models.Entities
@{
	ViewBag.Title = "Шопперы";
}

<!DOCTYPE html>
<html>
	<body>
		<div class="toppanel">
			<h1>Шоперы</h1>
		</div>
		<table class="products">
		@if (ViewBag.Shoppers.Count < 4)
		{
			<tr>
			@for (var i = 0; i < ViewBag.Shoppers.Count; i++)
			{
				<td onclick="location.href='@Url.Action("ShopperDetailPage", "Shop", new { id = ViewBag.Shoppers[i].Id })'">
					<div>
						<p>Шопер @ViewBag.Shoppers[i].Name</p>
						<p>@ViewBag.Shoppers[i].Discount</p>
						<p>@ViewBag.Shoppers[i].Price руб.</p>
					</div>
				</td>
			}
			</tr>
		}
		else if (ViewBag.Shoppers.Count % 4 == 0)
		{
			var count = 4;
			var index = 0;
			for (var i = 0; i < (ViewBag.Shoppers.Count / 4); i++)
			{
				<tr>
				@for (var j = index; j < count; j++)
				{
					<td onclick="location.href='@Url.Action("ShopperDetailPage", "Shop", new { id = ViewBag.Shoppers[j].Id })'">
						<div>
							<p>Шопер @ViewBag.Shoppers[j].Name</p>
							<p>@ViewBag.Shoppers[j].Discount</p>
							<p>@ViewBag.Shoppers[j].Price руб.</p>
						</div>
					</td>
				}
				</tr>
				count += 4;
				index += 4;
			}
		}
		else 
		{
			var helperCount = ViewBag.Shoppers.Count;
			var count = 4;
			var index = 0;
			for (var i = 0; i <= ViewBag.Shoppers.Count / 4; i++)
			{
				<tr>
				@for (var j = index; j < count; j++)
				{
					<td onclick="location.href='@Url.Action("ShopperDetailPage", "Shop", new { id = ViewBag.Shoppers[j].Id })'">
						<div>
							<p>Шопер @ViewBag.Shoppers[j].Name</p>
							<p>@ViewBag.Shoppers[j].Discount</p>
							<p>@ViewBag.Shoppers[j].Price руб.</p>
						</div>
					</td>
				}
				</tr>
				@if (helperCount / 4 > 1)
				{
					helperCount -= 4;
					count += 4;
				}
				else
				{
					count += helperCount % 4;
				}
				index += 4;
			}
		}
	</table>
</body>
</html>