@using RevolutionData.Models.Entities
@{
	ViewBag.Title = "Шоперы";
}

<!DOCTYPE html>
<html>
	<body>
		<div class="page">
			<div class="photo">
				<p>Скролящиеся картинки</p>
			</div>
			<div class="mainInfo">
				<h1>Шопер @ViewBag.Shopper.Name</h1>
			@if (ViewBag.Shopper.Discount > 0)
			{
				<p>@(ViewBag.Shopper.Price * (1 - ViewBag.Shopper.Discount / 100)) руб.</p>
				<del>@ViewBag.Shopper.Price руб.</del>
				<p>Скидка @ViewBag.Shopper.Discount%</p>
			}
			else
			{
				<p>@ViewBag.Shopper.Price руб.</p>
			}
				<p>Размер</p>
				<label><input type="radio"/>@ViewBag.Shopper.Size</label>
			@if (ViewBag.Shopper.Count > 0)
			{
				<p>В наличии</p>
			}
			else
			{
				<p>Нет в наличии</p>
			}
				<button>В корзину</button>
				<p>Информация о товаре</p>
				<p>@ViewBag.Shopper.Description</p>
		</div>
		</div>
	</body>
</html>