@using RevolutionData.Models.Entities
@model List<TShirt>;
@{
	ViewBag.Title = "Футболки";
}

<!DOCTYPE html>
<html>
	<body>
		<div class="toppanel">
			<h1>Футболки</h1>
		</div>
		<table class="products">
		@if (Model.Count < 4)
		{
			<tr>
			@for (var i = 0; i < Model.Count; i++)
			{
				<td onclick="location.href='@Url.Action("TShirtDetailPage", "Shop", new { id = Model[i].Id })'">
					<div>
						<p>Футболка @Model[i].Name</p>
						<p>@Model[i].Discount</p>
						<p>@Model[i].Price руб.</p>
					</div>
				</td>
			}
			</tr>
		}
		else if (Model.Count % 4 == 0)
		{
			var count = 4;
			var index = 0;
			for (var i = 0; i < (Model.Count / 4); i++)
			{
				<tr>
				@for (var j = index; j < count; j++)
				{
					<td onclick="location.href='@Url.Action("TShirtDetailPage", "Shop", new { id = Model[j].Id })'">
						<div>
							<p>Футболка @Model[j].Name</p>
							<p>@Model[j].Discount</p>
							<p>@Model[j].Price руб.</p>
						</div>
					</td>
				}
				</tr>
				count += 4;
				index += 4;
			}
		}
		else 
		{
			var helperCount = Model.Count;
			var count = 4;
			var index = 0;
			for (var i = 0; i <= Model.Count / 4; i++)
			{
				<tr>
				@for (var j = index; j < count; j++)
				{
					<td onclick="location.href='@Url.Action("TShirtDetailPage", "Shop", new { id = Model[j].Id })'">
						<div>
							<p>Футболка @Model[j].Name</p>
							<p>@Model[j].Discount</p>
							<p>@Model[j].Price руб.</p>
						</div>
					</td>
				}
				</tr>
				@if (helperCount / 4 > 1)
				{
					helperCount -= 4;
					count += 4;
				}
				else
				{
					count += helperCount % 4;
				}
				index += 4;
			}
		}
	</table>
</body>
</html>
