@using RevolutionData.Models.Entities
@{
	ViewBag.Title = "Футболки";
}

<!DOCTYPE html>
<html>
	<body>
		<div class="toppanel">
			<h1>Футболки</h1>
		</div>
		<table class="products">
		@if (ViewBag.TShirts.Count < 4)
		{
			<tr>
			@for (var i = 0; i < ViewBag.TShirts.Count; i++)
			{
				<td onclick="location.href='@Url.Action("TShirtDetailPage", "Shop", new { id = ViewBag.TShirts[i].Id })'">
					<div>
						<p>Футболка @ViewBag.TShirts[i].Name</p>
						<p>@ViewBag.TShirts[i].Discount</p>
						<p>@ViewBag.TShirts[i].Price руб.</p>
					</div>
				</td>
			}
			</tr>
		}
		else if (ViewBag.TShirts.Count % 4 == 0)
		{
			var count = 4;
			var index = 0;
			for (var i = 0; i < (ViewBag.TShirts.Count / 4); i++)
			{
				<tr>
				@for (var j = index; j < count; j++)
				{
					<td onclick="location.href='@Url.Action("TShirtDetailPage", "Shop", new { id = ViewBag.TShirts[j].Id })'">
						<div>
							<p>Футболка @ViewBag.TShirts[j].Name</p>
							<p>@ViewBag.TShirts[j].Discount</p>
							<p>@ViewBag.TShirts[j].Price руб.</p>
						</div>
					</td>
				}
				</tr>
				count += 4;
				index += 4;
			}
		}
		else 
		{
			var helperCount = ViewBag.TShirts.Count;
			var count = 4;
			var index = 0;
			for (var i = 0; i <= ViewBag.TShirts.Count / 4; i++)
			{
				<tr>
				@for (var j = index; j < count; j++)
				{
					<td onclick="location.href='@Url.Action("TShirtDetailPage", "Shop", new { id = ViewBag.TShirts[j].Id })'">
						<div>
							<p>Футболка @ViewBag.TShirts[j].Name</p>
							<p>@ViewBag.TShirts[j].Discount</p>
							<p>@ViewBag.TShirts[j].Price руб.</p>
						</div>
					</td>
				}
				</tr>
				@if (helperCount / 4 > 1)
				{
					helperCount -= 4;
					count += 4;
				}
				else
				{
					count += helperCount % 4;
				}
				index += 4;
			}
		}
	</table>
</body>
</html>
