@using RevolutionData.Models.Entities
@{
	ViewBag.Title = "Худи";
}

<!DOCTYPE html>
<html>
	<body>
		<div class="page">
			<div class="photo">
				<p>Скролящиеся картинки</p>
			</div>
			<div class="mainInfo">
				<h1>Футболка @ViewBag.TShirt.Name</h1>
			@if (ViewBag.TShirt.Discount > 0)
			{
				<p>@(ViewBag.TShirt.Price * (1 - ViewBag.TShirt.Discount / 100)) руб.</p>
				<del>@ViewBag.TShirt.Price руб.</del>
				<p>Скидка @ViewBag.TShirt.Discount%</p>
			}
			else
			{
				<p>@ViewBag.TShirt.Price руб.</p>
			}
				<p>Размер</p>
				<label><input type="radio"/>@ViewBag.TShirt.Size</label>
			@if (ViewBag.TShirt.Count > 0)
			{
				<p>В наличии</p>
			}
			else
			{
				<p>Нет в наличии</p>
			}
				<button>В корзину</button>
				<p>Информация о товаре</p>
				<p>@ViewBag.TShirt.Description</p>
		</div>
		</div>
	</body>
</html>
